a.icon.icon-home::before {
    content: url("logo_square_16px.png");
}
/* Make properties not stack */
dl.py.property {
    display: block !important;
}
/* Set color of inline ``variables`` */
code.literal {
    color: #e22626 !important;
}
/* Change nav header thing to Magento orange */
.wy-side-nav-search {
    background-color: #747373;
}
.wy-nav-top {
    background: #747373;
}
